In [8]:
%matplotlib notebook   #interactive plot (like hvplot)

import numpy as np
import matplotlib.pyplot as plt   #makes matplotlib work like MATLAB
import matplotlib.animation as animation   #animates by calling a function over and over

from openbb_terminal.sdk import openbb

In [9]:
# imports for the API key retrevial
import requests
from dotenv import load_dotenv
import os 

# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

True

In [10]:
# Use the os.getenv function to retrieve the environment variable named FRED_API_KEY
# Store as a Python variable named api_key
api_key = os.getenv("FRED_API_KEY")
type(api_key)

str

In [11]:
# test that key works 
openbb.keys.fred(
    key = api_key,
    persist=True

)

'defined, test passed'

In [12]:
# Pull bond data --> note the default returns just the 10yr
data_look = openbb.economy.treasury(
    instruments=["nominal"],
    start_date="1985-01-01"
)
data_look.head()

             Nominal_10-year
TIME_PERIOD
1985-01-01             11.38
1985-02-01             11.51
1985-03-01             11.86
1985-04-01             11.43
1985-05-01             10.85

In [13]:
# Define the maturities that want to pull
maturities = ['3m', '6m', '1y', '2y', '3y', '5y', '7y', '10y', '30y']

#Now pull all maturities of interst --> using maturities parm as list maturities
data = openbb.economy.treasury(
    instruments=["nominal"],
    maturities=maturities,
    start_date="1985-01-01"
)

data.head()

,Nominal_3-month,Nominal_6-month,Nominal_1-year,Nominal_2-year,Nominal_3-year,Nominal_5-year,Nominal_7-year,Nominal_10-year,Nominal_30-year
TIME_PERIOD,,,,,,,,,
1985-01-01,8.02,8.45,9.02,9.93,10.43,10.93,11.27,11.38,11.45
1985-02-01,8.56,8.87,9.29,10.17,10.55,11.13,11.44,11.51,11.47
1985-03-01,8.83,9.45,9.86,10.71,11.05,11.52,11.82,11.86,11.81
1985-04-01,8.22,8.71,9.14,10.09,10.49,11.01,11.34,11.43,11.47
1985-05-01,7.73,8.07,8.46,9.39,9.75,10.34,10.72,10.85,11.05